div.header {

    height: 100px;
    background-color: #323232;
    font-size: 30px;
    box-shadow: 0px 0px 3px 3px #232222;
}

div.header .headerText {

    color: #B32711;
    height: 100%;
    text-shadow:  2px 2px 2px #232222;

}

div.header .logo {
    width: 90px;
}

div.header .links {

    background-color: #323232;
    display: inline;
    float: right;
    width: 45%;
    height: 100%;
    padding-top: 3%;
    color: #DFDFDF;
}

div.header .links ul {

    display: inline;
    list-style-type: none;
    width: 100%;
    height: 100;
    color: #DFDFDF;
    font-size: 18px;
    text-shadow:  2px 2px 1px #232222;
}

.lfLink {

    float:right;
    padding-right: 10%;
}

.plink:hover, .flink:hover, .lfLink:hover {

    color: #D33F21;
    cursor: pointer;
    cursor: hand;
}

div.main {

    display: block;
    height: calc(100% - 130px);
}

div.main .sidebar {

    padding-top: 20px;
    width: 200px;
    height: 100%;
    float: left;
}

div.main .content {

    width:100%;
    height: 100%;
}

div.footer {

    height: 30px;
    color: white;
    background-color: #323232; 
    text-shadow:  2px 2px 2px #232222;
}

div.main .content #profileView,  div.main .content #feedView {

    text-align: center;
    display: none;
    height: 100%;
    width: 100%;
    float: right;
}
